<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/icon-vacun.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../public/login-register/style-admin.css">
    <title>Autenticar token</title>
</head>
<body class="container-main">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <span>Ingrese el token de seguridad</span>
            </div>
        <form class="formm" action="/autenticarVacunador" method="post">
            <div class="row">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="token" placeholder="Token" required>
            </div>
        
            <div class="row button">
                <input type="submit" value="Autenticar">
            </div> 
        </form>
        </div>
    </div>   
    <script src="https://kit.fontawesome.com/fdbbc110b3.js" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alerTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
                }).then(() => {
                    window.location = '/<%=ruta%>'
                })

        </script>
    <%} %>
</body>
</html>