<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/login-register/style-password.css">
    <link rel="shortcut icon" href="../public/img/icon-vacun.png" type="image/x-icon">

    <title>Recuperar contraseña</title>
</head>
<body class="container-main">
    <div class="container">
        <div class="wrapper">

            <div class="title">
                <h2>Ingrese su email</h2>
            </div>
            <form class="formm" action="/recuperar-passVacunador" method="post">
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="row button">
                    <input type="submit" value="Enviar">
                </div>
                <div class="row button lin">
                    <a class="btn" href="/loginVacunador" type="button">Cancelar</a>                
                </div>
            </form>
       </div>
    </div>       
    <script src="https://kit.fontawesome.com/fdbbc110b3.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alerTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
                }).then(() => {
                    window.location = '/<%=ruta%>'
                })

        </script>
    <%} %>
    
</body>
</html>