<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/login-register/style-register.css">
    <link rel="shortcut icon" href="../public/img/icon-vacun.png" type="image/x-icon">

    <title>Registro</title>
</head>

<body class="container-main">
    <div class="container">
        <div class="wrapper">
            <div class="title">
                <span>Bienvenido a VacunAssist</span>
            </div>
            <form class="formm" action="/registroPaciente" method="post">
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="text" name="name" placeholder="Nombre" class="input1" required>
                    
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="text" name="ape" placeholder="Apellido" required>
                    
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="text" name="dni" placeholder="DNI" required>
                    
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="date" name="fechaNacimiento" required>
                    
                </div>
                <div class="row">
                    <i class="fa-solid fa-key"></i>
                    <input type="text" name="zona" placeholder="Zona" required>
                    
                </div>
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="email" name="email" placeholder="Email" autofocus required>
                    
                </div>
                <div class="row button">
                    <input type="submit" value="Registrar">                
                </div>

                <div class="row button lin">
                    <a class="btn" href="/areaPersonalAdmin" type="button">Cancelar</a>                
                </div>
            </form>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/fdbbc110b3.js" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(alert) { %>
        <script>
            Swal.fire({
                title: '<%= alerTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
                }).then(() => {
                    window.location = '/<%=ruta%>'
                })

        </script>
    <%} %>

</body>

</html>